.card-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
}

.card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;

    width: 386px;
    height: 444px;

    background: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;


}

.selected-card-container{
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
    
    width: 386px;
    height: 444px;
    
    background: #FFFFFF;
    
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    
    flex: none;
    order: 0;
    flex-grow: 0;

    cursor: pointer;
}

.image-container{
    width: 100%;
    height: 362px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;}

.cart-image{
    position: absolute;
    width: 52px;
    height: 52px;
    right: 15px;
    bottom: 70px;

}

.content-container{
    margin-top: 24px;

    display: flex;
    flex-direction: column;
    align-items:flex-start;

    width: 354px;
    height: 58px;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.title{
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;

    display: flex;
    align-items: center;

    color: #1D1F22;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.price{
    font-weight: 600    ;
    font-size: 18px;
    line-height: 160%;
    color: #1D1F22;
    
}

.card-container-blurred{
    align-items: center;
    padding: 16px;
    width: 386px;
    height: 444px;
    background: #FFFFFF;

    
    filter:opacity(60%);
    }

.oos-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;

    display: flex;
    align-items: center;

    color: #000000;
    ;


}

.all-cards-container{
    display: flex;
    flex-wrap:wrap;
    row-gap: 50px;
    gap: 78px;
       
        
}

.selected-card-container img{
    display: block;
}
.category-name{
  
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
    /* identical to box height, or 67px */

    display: flex;
    align-items: center;

    /* --c-text */

    color: #1D1F22;

    margin-bottom: 100px;

}

