.cart-container{
    padding-top: 1%;
    padding-left: 13.5%;
    padding-right: 13.5%;
}
.cart{padding-top: 3%;
    padding-bottom: 2%;
    display: flex;
font-weight: 700;
font-size: 32px;
line-height: 40px;
/* identical to box height, or 125% */

text-transform: uppercase;

color: #1D1F22;

}
hr {
    padding-left:5% ;
    width: 1240px;
height: 1px;
left: 100px;
top: 255px;

background: #E5E5E5;
}


  .DetailProdC{
      padding-left: 53.405px;
  }
  .SoustitleC{
      width: 292px;
  height: 27px;
  left: 929px;
  top: 203px;
  
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  /* identical to box height, or 90% */
  
  display: flex;
  align-items: center;
  
  color: #1D1F22;
  }
  .titleeC{
  width: 292px;
  height: 27px;
  left: 929px;
  top: 160px;
  
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  /* identical to box height, or 90% */
  
  display: flex;
  align-items: center;
  padding-bottom: 1%;
  color: #1D1F22;
  
  }
  .SizeC{
  width: 38px;
  height: 18px;
  left: 929px;
  top: 273px;
  
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #1D1F22;
  
  }
  .SizeBoxC{
      display: flex;
  flex-wrap: nowrap;
  padding-bottom: 24px;
  justify-content:  space-between ;
  width: 288px;
  }
  .BoxC{
      
  text-transform: uppercase;
  box-sizing: border-box;
  width: 63px;
  height: 45px;
  
  border: 1px solid #1D1F22;
  display: flex;
  justify-content: center;
  align-items :center;
  
  }
  .ColBoxC{
      display: flex;
  flex-wrap: nowrap;
  padding-bottom: 38px;
  justify-content:  space-between ;
  width: 114px;
  }
  .ColorBox1C{
  box-sizing: border-box;
  border: 1px solid #1D1F22;
  
  width: 32px;
  height: 32px;
  padding-right: 10px;
  background: #D3D2D5;
  }
  .ColorBox2C{
  box-sizing: border-box;
  border: 1px solid #1D1F22;
  width: 32px;
  height: 32px;
  padding-right: 10px;
  background: #2B2B2B;
  }
  .ColorBox3C{
  box-sizing: border-box;
  border: 1px solid #1D1F22;
          
  width: 32px;
  height: 32px;
  padding-right: 10px;
  background: #0F6450;
  }
  .priceC
  {width: 86px;
  height: 46px;
  left: 929px;
  top: 494px;
      
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  /* or 75% */
      
  display: flex;
  align-items: center;
  color: #1D1F22;
  padding-bottom: 0.5%;
  }
 
.cart-container-detail{
    display: flex;
    justify-content: space-between;
}
.container-nb{
    display: flex;

    justify-content:space-evenly;
    align-items :center;
    padding-right: 5%;
}
.pCart{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
}
.buttonC{
    text-transform: uppercase;
    box-sizing: border-box;
    height: 45px;
width: 45px;

    background: #FFFFFF;
    border: 1px solid #1D1F22;
    display: flex;
    justify-content: center;
    align-items :center;
}
.container-right-c{
    display: flex;
    justify-content: center;
    

}
.image-containerC{
   display: flex;
    position: relative;
    justify-content: center;

}
.image-containerC img{
    position: relative;
    width: 100%;
    height: auto;
    padding: 2px;
}
.aa{
    display: flex;
    flex-direction: column;
    
}
.txt{
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.txt1{

    
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.total{
    display: flex;
}
.btn{
    position: absolute;
right: 50px ;
bottom: 20px;
width: 24px;
height: 24px;
color: white;
background: rgba(0, 0, 0, 0.73);
}

.btn1{
    position: absolute;
right: 20px ;
bottom: 20px;
width: 24px;
height: 24px;
color: white;
background: rgba(0, 0, 0, 0.73);
}
@media screen and (max-width :600px) {
.cart-container{
    display: inline-block;
}

}