.app-head{font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%; 
  overflow: hidden;
  background: hsl(0, 0%, 100%);
  display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}
div {font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%; 
  
}
.app-head a.active {
  float: left;
  text-align: center;
  padding: 14px 16px;
  color: #5ECE7B; 
  text-decoration:  underline ;
  text-underline-offset: 1rem;
  
}
.app-head a:hover {
   background-color: hsl(0, 0%, 100%);
  color: #5ECE7B !important;
}
.app-head a {font-family: 'Raleway';
  font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 120%;
}

.selectH {
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 120%;
border: 0;
outline: 0;
background-color: transparent;
width: 20px;
border: 0px solid #ffffff;
}
.selectH option {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%; 
}

#p0 {
  text-decoration: none;
}
#p1 { font-family: 'Raleway';
  font-style: normal;
  text-indent: 32px; 
  text-decoration: none;
  color: #000000; 
  float: left;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;}
#select{/* $ */


width: 12px;
height: 29px;

/* --price-regular-font */

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 120%;
font-size: 18px;
line-height: 160%;
/* identical to box height, or 29px */

display: flex;
align-items: flex-end;

/* --c-black */

color: #1D1F22;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;}
.app-head > div {
    /* Label */



font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

/* --c-text */

color: #1D1F22;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
  }
  /* .test{
    display: flex;
width: 1440px;
height: 1435px;
left: 0px;
top: 78px;

background: rgba(57, 55, 72, 0.22);
  } */
