.app-head{
  font-weight: 600;
  font-size: 16px;
  line-height: 120%; 
  background: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-between;
    
  position:sticky;
  top: 0;
  
  z-index: 1;
}
.divH {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%; 
  

  
}
.mr-0{
  margin-right: 0px;
}
.ml-0{
  margin-left: 0px;
}
.app-head a.active {
  float: left;
  text-align: center;
  padding: 14px 16px;
  color: #5ECE7B; 
  text-decoration:  underline ;
  text-underline-offset: 1rem;
  
}
.app-head a:hover {
   background-color: hsl(0, 0%, 100%);
  color: #5ECE7B !important;
}
.app-head a {
font-weight: 600;
line-height: 120%;
}
.p0 {
  text-indent: 32px; 
}
#p1 { 
  
  text-decoration: none;
  color: #000000; 
  font-size: 17px;}

.selectH {
margin-right: 5px;
background-color: transparent;
width: 20px;
border: 0px solid #ffffff;
}
.selectH option {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%; 
}


#select{/* $ */


width: 12px;
height: 29px;

/* --price-regular-font */

font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 120%;
font-size: 18px;
line-height: 160%;
/* identical to box height, or 29px */

display: flex;
align-items: flex-end;

/* --c-black */

color: #1D1F22;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;}
.app-head > div {
    /* Label */



font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

/* --c-text */

color: #1D1F22;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
  }
.cart-div{
  
  width: 325px;
  height: 677px;
  
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: -50%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.poptitleeC{
  font-size: 16px;
  margin-bottom: 2%;
}
.poppriceC{
  font-weight: 500;
font-size: 16px;
margin-bottom: 2%;
}
.popSizeC{
font-weight: 400;
font-size: 14px;
text-transform: uppercase;
margin-bottom: 2%;
display: flex;
align-items: center;
text-align: center;
color: #1D1F22;
}
.popColorSelect{
  box-sizing: border-box;
  border: 1px solid #1D1F22;
  width: 16px;
  height: 16px;
  margin-right: 2px;
}
.popImage-Countainer{
    display: flex;
    position: relative;
    justify-content: center;
    width: 138px;
}
.popBox{
  
  text-transform: uppercase;
  box-sizing: border-box;
  /* width: 24px; */
  height: 24px;
  font-size: 14px;
  border: 1px solid #1D1F22;
  display: flex;
  justify-content: center;
  align-items :center;
  
  }
  .popbuttonC{
    height: 24px;
    width: 24px;
    background: #FFFFFF;
    border: 1px solid #1D1F22;
    /* font-size: xx-large; */
    font-family: none;
    
    }
    .popimg{
      position: relative;
      width: 100%;
      max-height: 230px;
    }
    .pop-mg-top{
      margin-top: 25px;   }
      .poptotal{
        display: flex;
        justify-content: space-between;
        font-weight: 700;
font-size: 16px;
line-height: 160%;
      }
      .pop-btn{
        width: 160px;
height: 43px;  
background: #5ECE7B;
color: #FFFFFF;
cursor: pointer;
border: 0px solid #ffffff;
      }
      .pop-lf-btn{
        background: #ffffff;
        color: #000000 !important;
border: 1px solid #000000;

      }
      .mg-left{
        margin-left: 12px;
      }
      .pop-div-btn{
        display: flex;
        margin-top: 15px;
      }.mg-top{
        margin-top: 5px;
      }

      

      .Quantity {
        margin-left: 16px;
        position: absolute;
        color: white;
        height: 14px;
        width: 14px;
        font-size: small;
        background-color: #000000;
        border-radius: 100%;
        /* bottom: 1px; */
        top: 2%;
    }
.Quantity-nb{
  position: absolute;
  right: 0.5%;
  width: 15px;
  bottom: 1pt;
  height: 1pc;

  /* background-color: #5ECE7B; */
}